.container {
    background-color: #0394fc;
    width: 98vw;
    height: 98vh;
    display: flex;
    font-size: 3.5vh;
    flex-direction: column;
}
.navbar{
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 30px;
}
.navbar button{
    width: 100px;
    background-color: #b7dded;
    border-radius: 6px;    
}
.content{
    display: flex;
    background-color: white;
    width: 95vw;
    height: 80vh;
    margin: 50px 10px 20px 10px;
    flex-direction: column;
}
.table{
    width: 100%;
    height: 70%;
}
.table table{
    width: 100%;
}
.table th{
    font-weight: normal;
}
.Button{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
}
.Button button{
    height: 60px;
    width: 60px;
    background-color: #b7dded;
    border-radius: 6px;
}
.divider{
    width: 20px;

}
.pick{
    margin-top: 40px;
    margin-left: 30px;
    font-size: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sort{
    margin-right: 50px;
    display: flex;
}

.main_table{
    margin: 0 auto;
}

th{
    padding:1%;
}

tr td{
    padding: 1%;
}

.main_table, th, td{
    overflow: auto;
    table-layout: fixed;
    width: 98%;
    border: 1px solid black;
    border-collapse: collapse;
}

.rincian{
    text-align: center;
}

.bukti{
    text-align: center;
}

.valid{
    text-align: center;
}

.kirim{
    text-align: center;
}